@import '/node_modules/bootstrap/scss/bootstrap.scss';
@import '/src/assets/scss/import';

body {
    font-family: $sans;
    color: $dark;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5 ,h6 {
    font-family: $serif;
}

a {
    text-decoration: none;
    color: $dark;
    @include darkLink;
}